<template name="nucleusSidebarGit">
  {{#with sidebarTitle}}
  {{> nucleusSidebar_title}}
  {{/with}}

  <div class="sidebar-content">
    <div class="viewlet">
      <div class="git-viewlet">
        <div class="changes-view">
          <div class="commit-view">
            <div class="nucleus-inputbox nucleus-inputbox--idle">
              <div class="nucleus-inputbox__wrapper">
                <input class="nucleus-inputbox__input" type="text" value="" wrap="off" autocorrect="off" placeholder="Commit Message" />
              </div>
            </div>
          </div>
          <div class="status-view">
            {{#nucleusTree}}
            {{#with changesHeader}}
            {{> nucleusTree_header_row}}
            {{/with}}

            {{#each statusRows}}
            {{> nucleusTree_status_row}}
            {{/each}}
            {{/nucleusTree}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
