<template name="nucleusSidebarGit">
  <div class="sidebar-title">
    <div class="sidebar__title-actions">
      <div class="sidebar__toolbar">
        <ul class="sidebar__actions-container">
          <li class="sidebar__action-item">
            <a class="asidebar__action-item-action"><i class="fa fa-upload"></i></a></li>
          <li class="sidebar__action-item">
            <a class="asidebar__action-item-action"><i class="fa fa-download"></i></a></li>
          <li class="sidebar__action-item">
            <a class="asidebar__action-item-action"><i class="fa fa-refresh"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="sidebar__title-label">Git</div>
  </div>

  <div class="sidebar-content">
    <div class="viewlet">
      <div class="git-viewlet">
        <div class="changes-view">
          <div class="commit-view">
            <div class="nucleus-inputbox nucleus-inputbox--idle">
              <div class="nucleus-inputbox__wrapper">
                <input class="nucleus-inputbox__input" type="text" value="" wrap="off" autocorrect="off" placeholder="Commit Message" />
              </div>
            </div>
          </div>
          <div class="status-view">
            <div class="nucleus-tree">
              <div class="nucleus-tree__wrapper">
                <div class="nucleus-tree__rows">
                  <div class="nucleus-tree__row">
                    <div class="nucleus-tree__row-content">
                      <div class="nucleus-tree__row-subcontent">
                        <div class="nucleus-tree__row-subcontent__status-group">
                          <div class="nucleus-left-right-widget">
                            <div class="nucleus-left-right-widget__right">
                              <div class="nucleus-count-badge">12</div>
                            </div>
                            <div class="nucleus-left-right-widget__left">
                              <span>Changes</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="nucleus-tree__row-actionsbar">
                        <div class="nucleus-actionsbar">
                          <ul class="nucleus-actionsbar__container">
                            <li class="nucleus-actionsbar__item">
                              <a class="action-label" href="" title="Clean All">
                                <i class="fa fa-refresh"></i>
                              </a>
                            </li>
                            <li class="nucleus-actionsbar__item">
                              <a class="action-label" href="" title="Clean All">
                                <i class="fa fa-check"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="nucleus-tree__row">
                    <div class="nucleus-tree__row-content">
                      <div class="nucleus-tree__row-subcontent">
                        <div class="nucleus-tree-git-file-status">
                          <span class="status status--modified">M</span>
                          <a class="file-name" href="">_base.scss</a>
                          <span class="folder">/client/styles</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="nucleus-tree__row">
                    <div class="nucleus-tree__row-content">
                      <div class="nucleus-tree__row-subcontent">
                        <div class="nucleus-tree-git-file-status">
                          <span class="status status--deleted">M</span>
                          <a class="file-name file-name--deleted" href="">_case.scss</a>
                          <span class="folder">/client/styles</span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
