.nucleus-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.nucleus-icon-close-file {
  background: url('#{$base-url}/ui/workbench/contrib/action-close-dark.svg') center center no-repeat;
}

.nucleus-icon-save-all {
  background: url('#{$base-url}/ui/workbench/contrib/saveall_inverse.svg') center center no-repeat;
}
.nucleus-icon-close-all {
  background: url('#{$base-url}/ui/workbench/contrib/closeall_inverse.svg') center center no-repeat;
}

.nucleus-icon-new-file {
  background: url('#{$base-url}/ui/workbench/contrib/AddFile_inverse.svg') center center no-repeat;
}
.nucleus-icon-new-folder {
  background: url('#{$base-url}/ui/workbench/contrib/AddFolder_inverse.svg') center center no-repeat;
}
.nucleus-icon-refresh-explorer {
  background: url('#{$base-url}/ui/workbench/contrib/Refresh_inverse.svg') center center no-repeat;
}
.nucleus-icon-collapse-explorer {
  background: url('#{$base-url}/ui/workbench/contrib/CollapseAll_inverse.svg') center center no-repeat;
}
.nucleus-icon-undo {
  background: url('#{$base-url}/ui/git/undo-inverse.svg') center center no-repeat;
}
.nucleus-icon-add {
  background: url('#{$base-url}/ui/git/add-inverse.svg') center center no-repeat;
}