.nucleus-count-badge {
  color: #fff;
  background: $badge-bg-color;
  min-width: 18px;
  padding: 0 3px;
  margin: 4px 13px 0 6px;
  border-radius: 8px;
  font-size: 11px;
  line-height: 16px;
  font-weight: normal;
  text-align: center;
}