$primary-color: #aaa;

$primary-bg-color: #252526;
$secondary-bg-color: #1E1E1E;
$tertiary-bg-color: #333;
$inputs-base-bg-color: #3C3C3C;
$badge-bg-color: #4D4D4D;

$base-font-size: 13px;
$base-line-height: 1.4;
$base-font-family: sans-serif;

/* activitybar */
$activitybar-width: 50px;

/* sidebar */
$sidebar-width: 288px;
