<template name="nucleusTree">
  <div class="nucleus-tree" style="height:{{treeHeight}};">
    <div class="nucleus-tree__wrapper">
      <div class="nucleus-tree__rows">

        {{#each rows}}
        <div id="{{id}}" class="nucleus-tree__row {{rowClasses}}" style="{{styles}}" data-parent-id="{{parentId}}">
          <div class="nucleus-tree__row-content {{contentClasses}}">

            <div class="nucleus-tree__row-subcontent {{subcontentClasses}}">

              <div class="{{itemClasses}}">
                <div class="{{labelClasses}} plain">
                  {{name}}
                </div>
              </div>

            </div>

          </div>
        </div>

        {{/each}}
      </div>

    </div>
  </div>
</template>
