.workarea {
  width: calc(100% - #{$sidebar-width});
  margin-left: $sidebar-width;
  height: calc(100% - 22px);
  top: 0;
  bottom: 0;
  right: 0;
  left: 50px; //XXX: make this dynamic with js
  position: absolute;
  background-color: $secondary-bg-color;
  background-image: url('#{$base-url}/logo/logo-black.png');
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 50% 50%;
}

.workarea__content {
  font-size: $base-font-size;
  height: 100%;
}