.event-sync-viewlet {
  height: 15vh;
  padding: 20px;
  padding-top: 50px;
}

.ultimate-sidebar-button {
  padding: 10px;
  color: rgba(255,255, 255, 0.9);
  border: 1px solid rgba(222,222,222,0.8);
  position: relative;
  margin: 0 23px;

  &:hover {
    color: #fff;
    border-color: #fff;
  }

  &:active {
    background-color: rgba(222, 222, 222, 0.2);
  }
}
.event-feed-view {
  position: relative;
  overflow: auto;
  max-height: calc(50vh - 200px);
  background-color: rgba(193, 193, 193, .03);
}
.selected-event-details {
  position: relative;
  max-height: 200px;
  margin: 5px 0;
  padding: 15px;
  word-wrap: break-word;
}