<template name="nucleusActivitybar">
  <div class="activitybar">
    <div class="activitybar__content">
      <div class="activitybar__actionbar">
        <ul class="activitybar__actions-list">

          {{#each views}}
          {{> UI.dynamic template=this}}
          {{/each}}

          <!--
          {{#nucleusActivitybarItem title="Git (⇧⌘G)" tabindex=1 id="activitybar-git" sidebarTemplate="nucleusSidebarGit"}}
          <i class="fa fa-git activitybar__action-icon"></i>
          {{/nucleusActivitybarItem}} -->
        </ul>
      </div>
    </div>
  </div>
</template>
