<template name="activitybar">
  <div class="activitybar">
    <div class="activitybar__content">
      <div class="activitybar__actionbar">
        <ul class="activitybar__actions-list">
          <li class="activitybar__actions-list-item">
            <a class="activitybar__action-label" tabindex="0" title="Explore (⇧⌘E)">
              <i class="fa fa-file activitybar__action-icon"></i>
            </a>
          </li>
          <li class="activitybar__actions-list-item">
            <a class="activitybar__action-label" tabindex="0" title="Git (⇧⌘G)">
              <i class="fa fa-git activitybar__action-icon"></i>
            </a>
          </li>
          <li class="activitybar__actions-list-item">
            <a class="activitybar__action-label" tabindex="0" title="Deploy (⇧⌘D)">
              <i class="fa fa-cloud-upload activitybar__action-icon"></i>
            </a>
          </li>
          <li class="activitybar__actions-list-item">
            <a class="activitybar__action-label" tabindex="0" title="Buddies (⇧⌘D)">
              <i class="fa fa-users activitybar__action-icon"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
