.explore-viewlet {
  height: 100%;
}

.explorer-view-content {
  height: 100%;

  .nucleus-tree__row {
    padding-left: 8px;
  }
}
.explorer-working-files {
  .nucleus-tree__row-subcontent {
    margin-left: 24px;
  }
}

.working-files-item-label {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 24px;

  .file-name {
    color: inherit;
    text-decoration: none;
  }

  .folder {
    opacity: 0.7;
    margin-left: 0.5em;
    font-size: 0.9em;
  }
}

.explorer-working-files {
  min-height: 50px;
  max-height: 20vh;
}
.explorer-project-files {
  position: relative;
  max-height: calc(80vh - 22px);
}

.project-explorer-spinner-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    background-color: #252526;
}

.project-explorer-context-menu {
    background: #5A5858;
    border-radius: 4px;
}

.project-explorer-context-menu li {
    padding: 4px 6px;
    cursor: pointer;
    font-size: 12px;
    color: #eee;
}

.project-explorer-context-menu li:hover {
    background: darken(#5A5858, 10);
    color: #fff;
}