<template name="nucleusSidebarExplore">
  <div class="sidebar-title">
    <div class="sidebar__title-actions">
    <div class="sidebar__toolbar">
    <ul class="sidebar__actions-container"></ul>
      </div>
    </div>
    <div class="sidebar__title-label">Explore</div>
  </div>

  <div class="sidebar-content">
    <div class="viewlet">
      <div class="explore-viewlet">

        <div class="split-view">
          <div class="split-view-view">
            <div class="header-working-files split-view-header {{workingFilesCollapsedClass}} split-view-header--collapsible">
              <div class="split-view-header-actions">
              <div class="sidebar-toolbar">
              <div class="action-bar">
              <ul class="actions-container">
              <li class="action-item action-item--disabled">
              <a class="action-label icon icon-save-all" href="" title="Save All"></a>
                      </li>
              <li class="action-item">
              <a class="action-label icon icon-close-all" href="" title="Close All"></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="split-view-header-title">
              <span>Working Files</span>
              <span class="nucleus-count-badge hidden"></span>
              </div>
            </div>
            <div class="split-view-body split-view-collapsible">
              <div class="explorer-view-content explorer-working-files" style="height: {{workingFilesHeight}}px">
                {{#nucleusTree}}

                {{#each workingFiles}}
                {{> nucleusTree_status_row}}
                {{/each}}

                {{/nucleusTree}}

              </div>
            </div>
          </div>

          <div class="split-view-view">
            <div class="header-project-explorer split-view-header {{projectExplorerCollapsedClass}} split-view-header--collapsible">
            <div class="split-view-header-actions">
            <div class="sidebar-toolbar">
            <div class="action-bar">
            <ul class="actions-container">
            <li class="action-item">
            <a class="action-label icon icon-new-file" href="" title="New File"></a>
                      </li>
            <li class="action-item">
            <a class="action-label icon icon-new-folder" href="" title="Close All"></a>
                      </li>
            <li class="action-item">
            <a class="action-label icon icon-refresh-explorer" href="" title="Close All"></a>
                      </li>
            <li class="action-item">
            <a class="action-label icon icon-collapse-explorer" href="" title="Close All"></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            <div class="split-view-header-title">
            <span>{{projectName}}</span>
            <span class="nucleus-count-badge hidden"></span>
              </div>
            </div>
            <div class="split-view-body split-view-collapsible">
            <div class="explorer-view-content explorer-project-files" style="{{projectExplorerStyles}}">
            {{> projectExplorer}}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>
