<template name="statusbar">
  <div class="statusbar">
    <div class="statusbar__item"> 
      <a class="statusbar__username" href="#">@channikhabra</a>
    </div>

    <div class="statusbar__item">
      <a class="statusbar__terminal" href="#">
        <i class="fa fa-terminal"></i>
      </a>
    </div>

    <div class="statusbar__item statusbar__item--right">
      <a class="statusbar__feedback" href="#">
        <i class="fa fa-smile-o fa-inverse"></i>
      </a>
    </div>
  </div>
</template>
