$nucleus-tree-row-height: 24px;
$nucleus-tree-row-focused-color: #2f3334;

.nucleus-tree {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.nucleus-tree__wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: scroll;
}
.nucleus-tree__rows {
  position: absolute;
  width: 100%;
  top: 0px;
}
.nucleus-tree__row {
  position: relative;
  height: $nucleus-tree-row-height;
  padding-left: 20px;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    background-color: #2A2D2E;
  }
}
.nucleus-tree__row-content {
  line-height: $nucleus-tree-row-height;
  position: relative;
  transition: all 0.15s ease-out;
}
.nucleus-tree__row-subcontent {
  overflow: hidden;
  text-overflow: ellipsis;

  .plain {
    color: #fff;
  }
}
.nucleus-tree__row-subcontent__status-group {
  font-size: 11px;
  font-weight: bold;
  cursor: default;
  text-transform: uppercase;
}

.nucleus-tree__row-actionsbar {
  line-height: 1em;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  margin-top: 2px;
  padding: 0 1em 0 .4em;
}
.nucleus-tree__row-actionsbar--right {
  right: 0;
  left: auto;
}
.nucleus-tree__row-actionsbar--left {
  left: 0;
  right: auto;
  line-height: 1.7em;
}

.nucleus-tree__row:hover {
  .nucleus-tree__row-actionsbar {
    display: inherit;
  }
  .nucleus-count-badge {
    display: none;
  }
}

.nucleus-tree__row--focused {
  background-color: $nucleus-tree-row-focused-color;
}

.nucleus-tree__row--has-children > .nucleus-tree__row-content:before ,
.nucleus-tree__row--has-children > .nucleus-tree__row-content:after {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}
.nucleus-tree__row--has-children > .nucleus-tree__row-content:after {
  border-width: 2px;
  border-left-width: 2px;
  top: 10px;
  left: -9px;
  border-color: transparent;
  border-left-color: #252526;
}

.nucleus-tree__row--has-children > .nucleus-tree__row-content:before {
  border-color: transparent;
  border-left-color: #D4D4D4;
  border-width: 4px;
  top: 8px;
  left: -10px;
}

.nucleus-tree__row--expanded > .nucleus-tree__row-content:before {
  border-width: 6px 6px 0 5px;
  top: 9px;
  left: -16px;
  border-color: transparent;
  border-right-color: #D4D4D4;
}

.nucleus-tree__row--expanded > .nucleus-tree__row-content:after {
  border-width: 0;
  border-color: transparent;
}